@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;400;600;700&family=Nunito:wght@200;300;400;600;700&display=swap');

* {
    font-family: 'Nunito';
}


header {
    margin: 0.8rem;
    background-color: #F6F9FE;
    min-height: 100vh;
}

/* NavBar */


.navbar-nav {
    float: right;
    text-align: right;
}

.nav-item {
    font-weight: 600;
    margin-left: 2rem;
}

.join {
    background-color: #48FF78;
    color: #FFFFFF;
    font-weight: 700;
    padding: 1rem 2rem;
    border: 0px;
    border-radius: 5px;
    margin-left: 2rem;
}



/* Hero Section */

#brand {
    font-size: 4rem;
    font-weight: 700;
    color: #48FF78;
}

.brandTagline {
    font-size: 1.1rem;
}

.joinHero {
    background-color: #48FF78;
    color: #FFFFFF;
    font-weight: 700;
    padding: 1.1rem;
    border: 0px;
    border-radius: 5px;
}


/* Social Media */
.companies {
    font-weight: 700;
}

.companyImg img {
    margin-right: 1rem;
    color: #48FF78;
}

@media (max-width: 991px) {
    
    #banner {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {
    #banner {
        font-size: 3rem;
    }

}