header {
    margin: 0;
    color: #F6F9FE;
    min-height: 100vh;
    background-image: url("Assets/bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    Justify-content: center;
}

.join {
    background-color: #48FF78;
    color: #FFFFFF;
    font-weight: 700;
    padding: 1rem 2rem;
    border: 0px;
    border-radius: 5px;
    margin-left: 2rem;
}

#brand {
    font-size: 5rem;
    font-weight: 700;
    color: #48FF78;
}

.brandTagline {
    font-size: 2rem;
}

@media (max-width: 991px) {

    #banner {
        font-size: 3rem;
    }

    .waitlist {
        display: flex;
        align-items: center;
        text-align: center;
        Justify-content: center;
    }
}

@media (max-width: 768px) {
    #banner {
        font-size: 2rem;
    }

}