header {
    margin: 0;
    color: #F6F9FE;
    min-height: 100vh;
    background-image: url("Assets/bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    Justify-content: center;
}

.join {
    background-color: green;
    color: #FFFFFF;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 0px;
    border-radius: 3px;
    font-family: "Montserrat";
}

#brand {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Hammersmith One";
    color: green;
}

.brandTagline {
    margin: 5rem;
    font-size: 1.7rem;
    font-weight: 700;
    font-family: "Montserrat";
    text-shadow: 3px 3px #012;
}